.form-group label {
  color: grey;
}

.form-group input {
  font-weight: 400;
  width: 400px;
}

.form-group input::placeholder {
  color: #c0bdbd;
  font-weight: 300;
}

.form-group textarea::placeholder {
  color: #c0bdbd;
  font-weight: 300;
}


thead th{
  font-weight: 400;
}

table tbody tr:hover {
  background-color: #fffbf2;
  cursor: pointer;
}

/*for invalid form controls*/
input.invalid {
  border-color: red;
}
.card{
  align-items: center;
  width: 500px;


}
.container{
  align-items: center;
  margin-top: 20px;

}
.error-block
{
  color: red;
  font-size: small;
}
